*{ /*Reseteo general*/
	margin:0;
	padding: 0;
	box-sizing: border-box; /*para que todas las cajas hagan un recalculo de su tamaño definido originalmente*/
	font-family: sans-serif;
	text-decoration: none;
	text-align: justify;
}
body{/*cuerpo del documento*/
	background-color: #f7f7f7;
}
.container{
	margin: auto;
	max-width: 1200px; /*para que no siga escalando*/
	width: 90%; /*ancho dentro del navegador*/

	display: flex;
	flex-flow: row wrap; /*indicamos que los elementos se van a ubicar en forma de fila y van a estar uno a lado del otro*/
}
header, footer{
	background-color: gold;
	color: #ffffff;
	padding: 1em;
	
	align-items: center;	
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
}
header nav{
	background-color: tomato;
	padding: 1em;	
	text-align: center;

	flex-basis: 30%;
}
header nav a{
	color: #ffffff;
	padding: 1em;
	text-transform: uppercase;

	justify-content: space-around;
}
header nav a:hover{
	background-color: goldenrod;
}
section{
	background-color: #ffffff;
	padding: 1.5em;


	flex:1 1 60%;
}
section p, section hr, section h1{
	margin-bottom: 1em;

}
aside{
	background-color: tomato;

	flex:1 1 40%;
}
aside p{
	background-color: gold;
	margin: 1em;
	padding: 1em;
}
footer{
	padding: 1.5em 0;

	justify-content: center;
}

@media (max-width: 760px){
	.container{
		flex-direction: column;
	}
	header{
		margin: 0;
		padding: 0;

		justify-content: center;
	}
	header nav{
		flex-basis: 100%;
	}
	h2{
		padding: 1.5em 0;
	}
}